<div class="card shadow">
    <article class="card-body">
        <h5 class="card-title">Warnings</h5>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Incident Time</th>
                    <th scope="col">DeviceId</th>
                    <th scope="col">Message</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@DateTime.Now</td>
                    <td>36d5e179-cb7b-Udfb-a10c-25b1925a1404 </td>
                    <td>Check temp!</td>
                </tr>
            </tbody>
        </table>
    </article>
</div>

@code {

}
