<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://embedcontrolapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d750ba69-547a-4ce9-80ff-f4dbe22cdc59/resourceGroups/03_WebbApp/providers/Microsoft.Web/sites/EmbedControlAPI</ResourceId>
    <UserName>$EmbedControlAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://embedcontrolapi.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>