@using BlazorApp1.Models
@inject HttpClient Http

<section class="card shadow">
    <article class="card-body">
        <h5 class="card-title">Devices</h5>
        <table class="table">
            <thead>
                <th scope="col">DeviceId</th>
                <th scope="col">Status</th>
                <th scope="col">Placement</th>
                <th scope="col">Sensor Type</th>
                <th scope="col">Last Updated</th>
                <th scope="col">Measurements</th>
                <th scope="col">Notifications</th>
                <th scope="col"></th>
            </thead>
            <tbody>
                @if(devices==null)
                {
                        <tr>
                            <td colspan="8">Loading ...</td>
                        </tr>
                }
                else
                {
                    @foreach(var device in devices)
                     {
                        <DeviceListItem Device="@device"/>
                     }
                }
            </tbody>
        </table>
    </article>
</section>
@code {
    private DeviceItem[] devices;

    protected override async Task OnInitializedAsync()
    {
        devices = await Http.GetFromJsonAsync<DeviceItem[]>("https://embedcontrolapi.azurewebsites.net/api/GetDevices?");
    }
}
