   <section class="card shadow">
       <article class="card-body">
            <h5 class="card-title">Activities</h5>
            <table class="table">
                <thead>
                    <th scope="col">Activity Time</th>
                    <th scope="col">Message</th>
                </thead>
                <tbody>
                    <tr>
                        <td>2022-03-29 19:46:25</td>
                        <td>New IOT device was added</td>
                    </tr>
                </tbody>
            </table>
        </article>
    </section>

@code {

}
