@page "/"

<PageTitle>My IoT page </PageTitle>

<h1>Embedded Control</h1>

<div class="row g-3">
    <div class="col-12">
        <DeviceList />
    </div>
    <div class="col-7">
        <Warnings />
    </div>
    <div class="col-5">
        <Activities />
    </div>
</div>