<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template document</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <header>
        <h1>the Site title heading above the navbar</h1>
        <nav>
            <ul>
                <a href="#">Choice one</a>
                <a href="#">Second Pick</a>
                <a href="#">Third option</a>
            </ul>
        </nav>
    </header>
    <hr>
    <main>
        <section class="firstSection">
            <h1>the heading of the first section</h1>
            <article>
                <h2>Article 1.1</h2>
                <p>
                    The first article in the first section of the main part of the body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </article>
            <article>
                <h2>Article 1.2</h2>
                <p>
                    The second article in the first section of the main part of the body.
                </p>
            </article>
        </section>
        <section class="secondtSection">
            <h1>the header of the second section</h1>
            <article>
                <h2>Article 2.1</h2>
                <p>
                    The first article in the second section of the main part of the body.
                </p>
            </article>
            <article>
                <h2>Article 2.2</h2>
                <p>
                    The second article in the second section of the main part of the body.
                </p>
            </article>
        </section>
    </main>

    <footer>
    </footer>
</body>

</html>