    <section id="businessGrowth">
        <section id="growth">
            <article class="aboutContainer">
                <div id="IntroLabel">
                    <span>Intro &nbsp &nbsp &nbsp;</span><img src="./img/line.svg" alt="thin-blue-line">
                </div>
                <h1>How we growth our business.</h1>
                <h3>The introduction of cloud and mobile technologies into enterprise software.</h3>
                <p>Whether you are building an enterprise web portal or a state-of-the-art website,
                    you always need the right modern tools. Well-built and maintained .NET frameworks
                    provide those tools in abundance, allowing developers to save time, re-use code,
                    and streamline the back end. As software development tools continues.</p>
                <div id="growthButton">
                    <a class="btnBlue" href="#">Learn more</a>
                </div>
            </article> <!-- aboutContainer -->
            <aside id="DarkBigTriQuad">
                <img src="./img/section3-aside-graphics.svg">
            </aside>
        </section>
    </section>