    <section id="firstViewBg">
        <section id="firstView">
            <section id="contact">
                <article>
                    <h1>Contact</h1>
                </article>
                <article>
                    <h4>
                        <a asp-controller="Default" asp-action="Index">Home</a>
                        <a asp-controller="Service" asp-action="Index">Services</a>
                    </h4>
                </article>
            </section>
            <section>
                <form id="contactform">
                    <input type="text" placeholder="Enter your name">
                    <input type="email" placeholder="Enter your email">
                    <textarea style="resize:none" tag="tag" cols="30" rows="10"  placeholder="Write your message here"></textarea>
                    <button name="submitnow" class="btnBlue">Submit</button>
                </form>
            </section>
        </section>
    </section>
