    <section id="experience">
        <article class="aboutContainer">
            <div class="aboutUs">
                <span>About us &nbsp &nbsp;</span><img src="./img/line.svg" alt="thin-blue-line">
            </div>
            <h1>You can't use up creativity.</h1>
            <p>Does any industry face a more complex audience journey and marketing sales
                process than B2B technology? Consider the number of people who influence
                a sale, the length of the decision-making cycle, the competing interests
                of the people who purchase, implement, manage, and use the technology.
                It’s a lot meaningful content here.</p>
            <div class="containerYearsOf">
                <div><img src="./img/corner-triangle.svg"></div>
                <div class="bigBoldBlue">15</div>
                <div class="yearsOfExperience">Years Of Experience</div>
            </div>
            <div id="experienceButtons">
                <a class="btnBlue" href="#">Learn more</a>
                <a class="btnGrey" href="#">Intro video</a>
            </div>
        </article> <!-- aboutContainer -->
        <aside id="BigTriQuad">
            <img src="./img/section2-aside-graphics.svg">
        </aside>
    </section>
