    <footer>
        <section id=footBg>
            <article id="left">
                <h1>OmniVus.</h1>
                <p>
                    The web has changed a lot since we posted our first article back in 2007.
                    The team at Mattin-Lassi Group has changed too, as have the things that
                    we bring to our community, conferences, books and our membership added to
                    the online magazine.

                    One thing that hasn't changed is that we’re a
                    small team — with most of us not working
                </p>
            </article>
            <article id="right">
                <h1>Working Hours</h1>
                <h3>Monday - Friday: 7:00 - 17:00</h3>
                <h3>Saturday: 7:00 - 12:00</h3>
                <h3>Sunday and holidays: 8:00 - 10:00</h3>
                <p>
                    <strong>For more then 15 years,</strong>
                    IT Service has been a reliable partner in the field of logistics and cargo forwarding.
                </p>
            </article>
        </section>
    </footer>
