    <section id="firstViewBg">
        <section id="firstView">
            <section id="presentation">
                <article id="presHeaders">
                    <h3>Promote any product, service or online course.</h3>
                    <h1>Get every IT Service here</h1>
                    <div class="bullets">
                        <img src="./img/red-circle.svg" class="circle" alt="red-circle">
                        <span>IT Product</span>
                        <img src="./img/blue-circle.svg" alt="blue-circle">
                        <span>IT Services</span>
                    </div>
                </article> <!-- presHeaders -->
                <aside id="silhouette">
                    <img src="./img/silohuette.svg">
                </aside>
            </section> <!-- presentation -->
        </section>
    </section> <!-- firstViewBg -->
